{{- if eq .chezmoi.os "darwin" -}}
Include ~/.orbstack/ssh/config
{{- end }}

Host gitlab.com
  AddKeysToAgent yes
  UseKeychain yes
  IdentityFile ~/.ssh/id_gitlab

Host github.com
  AddKeysToAgent yes
  UseKeychain yes
  IdentityFile ~/.ssh/id_gitlab
